<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listeners.ExtendListeners"></listener>
		<listener class-name="listeners.AnnotationTransformer"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	<parameter name="browser" value="Chrome"></parameter>
    <classes>
  <!-- <class name="testscript.Login_Page_Test"/>
      <class name="testscript.UserActionsPageTest"/>
      <class name="testscript.AddUserPage_Test"/>
      <class name="testscript.KitchenPage_Test"/>
      <class name="testscript.ResetPage_Test"/>
      <class name="testscript.StockTransferPageTest"/> -->
        <class name="testscript.HomePage_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

 




